<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.yokeyword.eventbusactivityscope">

    <application>
        <provider
            android:name=".RuntimeTrojanProvider"
            android:authorities="${applicationId}.eventbus_activity_scope_trojan"
            android:exported="false"
            android:multiprocess="true"/>
    </application>

</manifest>